body {
  width: 80%;
  margin: auto;
}

.servicios li img {
  height: 100px;
  width: 100px;
}

.servicios li span {
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.servicios li {
  /* lo siguiente evita que se mueva la pantalla
  cuando se agrega un border */
  box-sizing: border-box;
  border: #f0f0f0 1px solid;

  text-align: center;
  margin: 20px;
  width: 120px;
  display: inline-block;
  padding: 0px 5px 10px 5px;
}

.servicios li:hover {
  background-color: lightgoldenrodyellow;
  border: goldenrod 1px solid;
  cursor: pointer;
}

.servicios {
  list-style: none;
  padding-left: 0;
}

.carrito li img {
  width: 50px;
  height: 50px;
}

.carrito ul {
  list-style: none;
  padding-left: 0;
}

.carrito li span {
  margin-left: 20px;
}

.carrito li button {
  margin-left: 5px;
}

.admin {
  margin: 50px;
  padding: 50px;
}

.admin .linea-formulario {
  margin: 10px;
  padding: 10px;
}