nav {
  width: 100%;
  background-color: #f0f0f0;
}

nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}

nav > ul > li {
  margin: 10px;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: bold;
}

nav > ul > li > ul > li {
  margin: 0 10px;
}

.oculto {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #f0f0f0;
  text-align: center;
  padding: 10px;
}
