header {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 20px;
}

header ul {
  list-style-type: none;
  padding-left: 10px;
}

.oculto {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #f0f0f0;
  text-align: center;
  padding: 10px;
}
